<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="username" type="text" label="30300" />
    <setting id="password" type="text" label="30301" option="hidden" />
    <setting id="default_list" type="action" label="30302" action="RunPlugin(plugin://plugin.video.trakt_list_manager/settings/default_list)"/>
</settings>
